@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-im7zqn');
	src:url('fonts/icomoon.eot?#iefix-im7zqn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-im7zqn') format('truetype'),
		url('fonts/icomoon.woff?-im7zqn') format('woff'),
		url('fonts/icomoon.svg?-im7zqn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e600";
}
.icon-heart-broken:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e603";
}


a {
  color: #00f;
}
a:visited {
  color: #00d;
}
body {
  background: #fff;
  color: #333;
  font-family: "Open Sans",Arial;
  font-size: 16px;
  text-align: left;
}
header {
  background: #222;
  border-bottom: 3px solid #0af;
  color: #ddd;
  margin: 0;/*margen es lo de afuera y padding es lo de adentro*/
  padding: 0.5em; /*el "em toma el valor más cercano de la fuente en pixeles, en éste caso esta tomando la fuente de 16 pixeles, por lo tanto el padding va a ser de 8 pixeles (0.5x16)"*/
  position: fixed;
  width: 100%;
}
header #avatar,#contenido figure {
float:right;
}
header img {
  width: 100%;
}
header h1 {
  font-family:"Nunito";
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/*Aquí se empieza a usar la herencia múltiple*/
/*Aquí se controla la posición de las imágenes*/
header #avatar,
header #logo,
header #titulo_nav {
  display: inline-block;
  vertical-align: top;
}
header #logo,
header #avatar {
  height: 40px;
  width: 40px;
}
header #avatar a {
  background: #444;
  display: block; /*Convierte al enlace en un bloque o caja*/
  margin: 0;
  padding: 3px;
  text-decoration: none;
}
header #titulo_nav {
  width: 40%;
}
header #titulo_nav nav a {
  color: #fff;
  border-bottom: 4px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-size: 0.8em;
  padding: 0.1em 1em;
  text-decoration: none;
}
header #titulo_nav nav a:hover {
  border-color: #0af;
}
#contenido {
  padding-top: 6em;
}
#contenido .item {
  border: 2px solid #ddd;
  border-radius: 0.5em;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
}

#contenido .item h2{
		font-size:16px;
		margin: 0;
		padding:0;
		}

#contenido .item .autor{
		font-size:0.7em;
		margin: -7em 0 5em 15%;
		}
#contenido .item .autor p{
			display:inline;
			margin:-3em 0 0 0:
			}
#contenido .item .titulo_item,.votos{
		display:inline-block;
		vertical-align:top;
		}

		/*figure{
			float:right;
			}*/

#contenido .item .titulo_item{
		width:80%;
}
#contenido .item .votos{
		text-align:center;
		width:14%;
		}
